<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, nitial-scale=1">

    <script type="text/javascript">

    </script>

    <title>MEAN App 2</title>
  </head>
  <body>

  </body>
</html>
