<!DOCTYPE html>
<html lang="en" data-ng-app="albumApp">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base href="/">

  <!-- angular -->
  <script type="text/javascript" src="angular/angular.js"></script>

  <!-- ui router -->
  <script type="text/javascript" src="angular-ui-router/release/angular-ui-router.min.js"></script>

  <!-- ngResource -->
  <script type="text/javascript" src="angular-resource/angular-resource.min.js"></script>

  <!-- custom script (angular app) -->
  <script type="text/javascript" src="javascripts/app.js"></script>

  <!-- jquery -->
  <script type="text/javascript" src="jquery/dist/jquery.min.js"></script>

  <!-- bootstrap -->
  <link type="text/css" rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
  <script type="text/javascript" src="bootstrap/dist/js/bootstrap.min.js"></script>

  <!-- custom styles -->
  <link rel="stylesheet" type="text/css" href="stylesheets/styles.css">

  <title>MEAN App 2</title>
</head>

<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" ui-sref="books-index">MEAN</a>
      </div>
      <!-- /.navbar-collapse -->

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a ui-sref="home">Home</a></li>
        </ul>
      </div>
      <!-- /.container-fluid -->
    </div>
  </nav>

  <div class="container">
    <div data-ui-view></div>
  </div>

</body>
</html>
