<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, nitial-scale=1">
    <base href="/">

    <!-- Bower Components -->
    <link type="text/css" rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="bower_components/angular-resource/angular-resource.min.js"></script>

    <!-- APP CSS -->
    <link rel="stylesheet" href="public/stylesheets/styles.css">

    <!-- App JS -->
    <script src="public/javascripts/app.js"></script>

    <title>MEAN App 2</title>
  </head>
  <body>

  </body>
</html>
